body{
	background: #85a3ad;
	font-family: Arial, sans-serif;
	color: white;
}

#entete h1{
	text-align: center;
}

#banniere{
	width: 100%;
}

#corps{
	display:flex;
	flex-direction: row;
}

#corps #navigation{
	width: 20%;
}

#corps #contenu{
	width: 80%;
	padding-left: 20px;
}

#navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	background-color: #5c5c8a;
}

#navigation li{
	float: none;
	margin: auto;
	padding: 0;
}

#navigation li a{
	display: flex;
	flex-direction: column;
	color: white;
	text-decoration: none;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#navigation li ul{
	margin: 0px;
	padding: 0px;
	position: absolute;
	z-index: 1;
	width: 30em;
	background-color: #8585ad;
}

#navigation ul li ul{
	display: none;
}

#navigation ul li:hover ul{
	display: flex;
	flex-direction: row;
}

#navigation li:hover ul li{
	float: right;
}

#contenu{}

#pied{
	font-size: 0.75em;
	background-color: #5c5c8a;
	margin: 2px 0px 0px 0px;
}

#pied a{
	color: #08088A;
}