body{
	background: #85a3ad;
	font-family: Arial, sans-serif;
	color: white;
}

#entete h1{
	text-align: center;
}

#banniere{
	width: 100%;
}

.cote-a-cote-row-reverse{
	display: flex;
	flex-direction: row-reverse;
}

.cote-a-cote-row{
	display: flex;
	flex-direction: row;
}

.cote-a-cote-row .element2{
	padding-left: 20px;
}

.cote-a-cote-row-reverse .element1{
	padding-left: 20px;
}

#corps #navigation{
	width: 25%;
}

#corps #contenu{
	width: 75%;
	padding-left: 20px;
}

#navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	background-color: #5c5c8a;
}

#navigation li{
	float: top;
	margin: auto;
	padding: 0;
}

#navigation li a{
	display: block;
	color: white;
	text-decoration: none;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#navigation li ul{
	position: absolute;
	z-index: 1;
	background-color: #8585ad;
}

#navigation ul li ul{
	display: none;
	margin-left: calc(25% - 10px);
	margin-top: -39px;
}

#navigation ul li:hover ul{
	display: block;
}

#navigation li:hover ul li{
	float: top;
}

#contenu p{
	text-align: justify;
}

#contenu img{
	max-width: 100%;
	max-height: 100%;
}

#pied{
	font-size: 0.75em;
	background-color: #5c5c8a;
	margin: 2px 0px 0px 0px;
}

#pied a{
	color: #08088A;
}

.volant_plastique {
	width: 50px;
	height: 50px;
}

.volant_plume {
	width: 53px;
	height: 42px;
}

.badminton_raquette {
	width: 200px;
	height: 200px;
}

.tac_fleches {
	width: 100px;
	height: 100px;
}

.tac_arc {
	width: 200px;
	height: 200px;
}

.tac_oiseau_roy{
	width: 100px;
	height: 100px;
}

.tac_palette {
	width: 100px;
	height: 100px;
}

.popup_image span {
	display: none;
}

.popup_texte{
	text-decoration: underline;
}

.popup_image:hover span{
	display: inline;
	position: absolute;
	box-shadow: 0 0 2px black;
	background: #85a3ad;
	opacity: 80%;
}

form{
	margin-left: 20px;
}

form fieldset{
	width: 500px;
}

form fieldset input{
	margin-left: 35px;
}

form fieldset label{
	margin-left: 35px;
}

form fieldset textarea{
	margin-left: 35px;
}

form textarea{
	width: 300px;
	height: 150px;
}

form input{
	width: 300px;
}

form input[type="submit"]{
	display: block;
	margin-left: 225px;
	width: 100px;
}